// scss-docs-start theme-color-variables
$primary: #009688;
// $secondary: #9fa6b2 !default;
// $success: #14a44d !default;
// $danger: #dc4c64 !default;
// $warning: #e4a11b !default;
// $info: #54b4d3 !default;
// $light: #fbfbfb !default;
// $dark: #332d2d !default;
// scss-docs-end theme-color-variables

// Spacing
$spacer: 1rem !default;

// Navbar
// $navbar-padding-y: $spacer !default;
// $navbar-padding-top: $spacer !default;

// Prefix for :root CSS variables
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

// フォントはGoogleフォントに、文字間の高さは1.5より大きく
$font-family-sans-serif: 'Noto Sans JP', sans-serif !default;
$font-family-base: var(--#{$prefix}font-sans-serif) !default;
$line-height-base: 1.75 !default;

// ジャンプ率は読売新聞を参考に
$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 1.25 !default;
$h2-font-size: $font-size-base * 1.125 !default;
$h3-font-size: $font-size-base !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

// 見出しはボールドに
$headings-font-weight: 600 !default;

// 見出しの下マージン
$spacer: 1rem !default;
$headings-margin-bottom: $spacer !default;

// 文字色はより黒に近く
$body-color: #262626 !default;
// $body-tertiary-bg: #fbfbfb !default;

// h2は縦棒で強調
h2 {
  border-left: 0.25rem solid $primary;
  padding-left: 0.5rem;
}

// リンクの文字列は改行
a {
  word-wrap: break-word;
}

@import '../assets/mdb/src/scss/mdb.pro.scss'
