// scss-docs-start theme-color-variables
$primary: #009688;
// $secondary: #9fa6b2 !default;
// $success: #14a44d !default;
// $danger: #dc4c64 !default;
// $warning: #e4a11b !default;
// $info: #54b4d3 !default;
// $light: #fbfbfb !default;
// $dark: #332d2d !default;
// scss-docs-end theme-color-variables

// Spacing
$spacer: 1rem !default;

// Navbar
$navbar-padding-y: $spacer !default;
$navbar-padding-top: $spacer !default;

// Prefix for :root CSS variables
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;

// Fonts
$font-family-sans-serif: 'Noto Sans JP', sans-serif !default;
$font-family-base: var(--#{$prefix}font-sans-serif) !default;
$line-height-base: 1.75 !default;

$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 1.25 !default;
$h2-font-size: $font-size-base * 1.125 !default;
$h3-font-size: $font-size-base !default;
$h4-font-size: $font-size-base !default;
$h5-font-size: $font-size-base !default;
$h6-font-size: $font-size-base !default;

$headings-font-weight: 700 !default;

// Body
$body-color: #262626 !default;
// $body-tertiary-bg: #fbfbfb !default;

h2 {
  border-left: 4px solid $primary;
  padding-left: 0.5rem;
}

@import '../assets/mdb/src/scss/mdb.pro.scss'
